{% extends 'base.html' %}

{% block title %}
  materie
{% endblock title %}

{% block componets %}
<div class="m-5 container text-center">
  <div class="container m-5 ">
    <div class="container m-5">
  <div class="mx-2 row ">
    <!-- Alternativa -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Alternativa</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/alternativa" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Disegno_progettazzione_e_oranizzazione_industriale -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Disegno progettazzione e oranizzazione industriale</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Disegno_progettazzione_e_oranizzazione_industriale" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Educazione-Civica -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Educazione Civica</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Educazione_Civica" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Inglese -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Inglese</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Inglese" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Italiano -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Italiano</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Italiano" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Matematica -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Matematica</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Matematica" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Meccanica_macchine -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Meccanica_macchine</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Meccanica_macchine" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- scienze-motorie -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">scienze motorie</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/scienze_motorie" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Storia -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Storia</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Storia" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>
    <!-- Tornio -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="tt card-title">Tornio</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/Tornio" class="bb btn btn-outline-primary btn-lg">Vai ai contenuti</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
</div>
{% endblock componets %}


