{% extends 'base.html' %}

{% block title %}
  home
{% endblock %}

{% block componets %}
<div id="elemento" class="animate__animated animate__zoomIn my-5 container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/C0BjZD6/Materie.jpg" alt="Materie">
        <div class="card-body">
          <h5 class="ii card-title text-decoration-underline">Materie</h5>
          <p class="pp card-text">le materie di luca Campofelice 2bi</p>
          <a href="/materie" class="bb btn btn-primary">Vai a Materie</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
